body {
  background-image: radial-gradient(white 15%, #f0f0f0 40%, #aaaaaa 100%);
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-attachment: fixed;
  -webkit-animation: radialmove 3s ease infinite;
          animation: radialmove 3s ease infinite;
  background-size: 150% 150%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes radialmove {
  0% {
    background-position: 30% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
}

@keyframes radialmove {
  0% {
    background-position: 30% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 0;
  width: calc(100% - 10em);
  z-index: 5;
}

header .head {
  margin-top: 15px;
  padding: .5em 1em;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(210, 210, 210, 0.8);
  border-radius: 20px;
}

header .head #home {
  margin-left: 1em;
  font-size: 1.9em;
  font-weight: 800;
  font-family: 'Sanchez', serif;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.25)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.25)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
}

header .head a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

header .head nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .head nav ul li a {
  padding: 10px;
  font-family: 'Sanchez', serif;
  -webkit-text-stroke: 0.5px white;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
}

header .head nav ul li a:hover, header .head nav ul li a:active {
  -webkit-text-stroke: 0px #887272;
}

header .topline {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.selection {
  margin: 8em 10% 0 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.selection a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  font-size: 1.5em;
  font-family: 'Sanchez', serif;
  -webkit-text-stroke: 0.5px white;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15)) drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15)) drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.15));
}

.selection a:hover, .selection a:active {
  -webkit-text-stroke: 0px #666a9b;
}

h3 {
  color: #ddd;
  font-weight: 100;
}

.weblogo {
  margin-bottom: 5em;
}

.weblogo .weblogoss {
  height: 200px;
  margin-right: 400px;
  counter-increment: weblogoss;
}

.weblogo a img, .weblogo img {
  width: 160px;
  height: auto;
  padding: 1rem;
}

.popup {
  z-index: 7;
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -46%);
          transform: translate(-50%, -46%);
  top: 50%;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-3px 4px 3px rgba(0, 0, 0, 0.15)) drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-3px 4px 3px rgba(0, 0, 0, 0.15)) drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.15));
}

.popup .pop {
  background-color: rgba(20, 43, 78, 0.95);
  width: 100vw;
  padding: 2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup .pop p {
  color: white;
}

.popup .pop #landingpage {
  max-height: 80vh;
  max-width: 100vw;
  margin: auto;
  height: auto;
}

.popup .pop #prototype {
  width: 32%;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)) drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.1)) drop-shadow(-1px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(6px 0px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-4px 0px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)) drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.1)) drop-shadow(-1px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(6px 0px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-4px 0px 1px rgba(0, 0, 0, 0.15));
}

.slideshoww {
  margin-bottom: 5em;
}

.slideshoww .slides {
  width: 80vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slideshoww .slides img {
  max-width: 100%;
  max-height: 100%;
}

.mediaContainer {
  position: relative;
  width: 70vw;
  margin: auto;
}

.mediaContainer .galleries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mediaContainer .galleries img {
  max-height: 300px;
  max-width: 65vw;
  height: auto;
  margin: 2em;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-3px 4px 3px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15)) drop-shadow(-3px 4px 3px rgba(0, 0, 0, 0.15));
}

.mediaContainer .galleries img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#myBtn {
  z-index: 5;
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
}

.title {
  margin: 0 auto 2em auto;
  color: #666;
  padding-top: 80px;
}

.footline {
  width: calc(100% - 18em);
  margin-top: 5em;
}

footer h2 {
  font-weight: 400;
  color: grey;
}

footer .contact ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer .contact li a {
  padding: 2em;
  font-family: 'Sanchez', serif;
  -webkit-text-stroke: 2px rgba(105, 105, 105, 0.11);
  color: white;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1)) drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05)) drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
}

@media (max-width: 890px) {
  header {
    width: calc(100% - 5em);
  }
  header .head #home {
    font-size: 1.7em;
  }
  header .head nav ul {
    font-size: 1em;
  }
  header .intro {
    width: 450px;
    margin-top: 18em;
  }
  header .intro h1 {
    font-size: 4.1em;
  }
  header .intro p {
    width: 400px;
    font-weight: 300;
    font-size: 0.8em;
    margin: 1.1em auto;
  }
  .selection {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .slideshoww .slides {
    width: 80vw;
    height: 40vh;
  }
}

@media (max-width: 660px) {
  header {
    width: calc(100% - 2em);
  }
  header .head #home {
    font-size: 1.4em;
  }
  header .head nav ul {
    font-size: 0.8em;
  }
  header .intro {
    width: 250px;
    margin-top: 11em;
  }
  header .intro h1 {
    font-size: 2.2em;
  }
  header .intro p {
    width: 200px;
    font-size: 0.6em;
  }
  .selection a {
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=portfolio.css.map */