body{
  background-image: radial-gradient(white 15%, rgb(240, 240, 240) 40%, rgb(170, 170, 170) 100%);
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-attachment:fixed; 
  animation: radialmove 3s ease infinite;
  background-size: 150% 150%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
html {scroll-behavior: smooth;}
@keyframes radialmove {
  0%{background-position:30% 50%}
  50%{background-position:70% 50%}
  100%{background-position:30% 50%}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
// ---------------------------------------------- Navigation
header{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  width: calc(100% - 10em);
  z-index: 5;
  transition: top 0.5s;
  .head{
    margin-top: 15px;
    padding: .5em 1em;
    z-index: 20;
    display: flex;  
    justify-content: space-between;
    background-color: rgba(210, 210, 210, 0.8);
    border-radius: 20px;
    #home{
      margin-left: 1em;
      font-size: 1.9em;
      font-weight: 800;
      font-family: 'Sanchez', serif;
      color: white;
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15))
      drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2))
      drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.25))
      drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 1.5em;
    }
    nav ul {
      list-style-type: none;
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      li a{
        padding: 10px;
        font-family: 'Sanchez', serif;
        -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1);
        color: white;
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15))
        drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25))
        drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1))
        drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05))
        drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
      }
      li a:hover, li a:active{
        -webkit-text-stroke: 0px rgb(136, 114, 114);
      }
    }
  }
  .topline{
    border-top: 1px solid  rgba(0, 0, 0, 0.15);
  }
}
// ---------------------------------------------- Portfolio
// ----------------------- Portfolio Selection
.selection{
  margin: 8em 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    font-family: 'Sanchez', serif;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1);
    color: white;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.10))
    drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15))
    drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15))
    drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.15));
  }
  a:hover, a:active{
    -webkit-text-stroke: 0px rgb(102, 106, 155);
  }
}
// ----------------------- Website Section
h3{
  color: #aaa;
  font-weight: 100;
}
// #weblogos{
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   margin: 12em 15% 12em 15%;
//   a img, img{
//     width: 160px;
//     height: auto;
//     padding: 1rem;
//     transition: transform 0.5s ease;
//   }
//   a img:hover, img:hover{
//     transform: scale(1.2);
//   }
//   .mypopup{
//     cursor: pointer;
//   }
// }
.weblogo{
  margin-bottom: 5em;
  .weblogoss{
    display: flex;
    align-items: center;
    height: 220px;
    margin-right: 400px;
    counter-increment: weblogoss;
  }
    a img, img{
    width: 160px;
    height: auto;
    padding: 1rem;
    transition: transform 0.5s ease;
  }
    a img:hover, img:hover{
    transform: scale(1.4);
  }
}
.nonpublished{
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a{
    white-space: nowrap;
    padding: 30px;
    font-size: 1.5em;
    font-family: 'Sanchez', serif;
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.10))
    drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15))
    drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15))
    drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.15));
  }
  a:hover, a:active{
    -webkit-text-stroke: 0px rgb(102, 106, 155);
  }
}
/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #333;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #aaa;
}







.popup{
  z-index: 7;
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -46%);
  top: 50%;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2))
  drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.10))
  drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15))
  drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15))
  drop-shadow(-3px 4px 3px rgba(0, 0, 0, 0.15))
  drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.15));
  .pop{
    background-color: rgba(20, 43, 78, 0.95);
    width: 100vw;
    padding: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    p{
      color: white;
    }
    #landingpage{
      max-height: 80vh;
      max-width: 100vw;
      margin: auto;
      height: auto;
    }
    #prototype{
      width:32%;
      position: absolute;
      right: 0;
      bottom: 0;
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2))
      drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.10))
      drop-shadow(-1px 0px 1px rgba(0, 0, 0, 0.15))
      drop-shadow(6px 0px 3px rgba(0, 0, 0, 0.15))
      drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.15))
      drop-shadow(-4px 0px 1px rgba(0, 0, 0, 0.15));
    }
  }
}
// ----------------------- Print Section
// img {
//   vertical-align: middle;
// }
// /* Position the image container (needed to position the left and right arrows) */
// .container {
//   position: relative;
//   width: 70vw;
//   margin: auto;
//   /* Next & previous buttons */
//   .prev,
//   .next {
//     cursor: pointer;
//     position: absolute;
//     top: 40%;
//     width: auto;
//     padding: 16px;
//     margin-top: -50px;
//     color: white;
//     font-weight: bold;
//     font-size: 20px;
//     border-radius: 0 3px 3px 0;
//     user-select: none;
//     -webkit-user-select: none;
//     filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2))
//     drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.10))
//     drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15))
//     drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15))
//     drop-shadow(-3px 4px 3px rgba(0, 0, 0, 0.15))
//     drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.15));
//   }
//   /* Add a pointer when hovering over the thumbnail images */
//   .cursor {
//     cursor: pointer;
//   }
//   /* Position the "next button" to the right */
//   .next {
//     right: 0;
//     border-radius: 3px 0 0 3px;
//   }
//   .prev{
//     left: 0;
//   }
//   /* On hover, add a black background color with a little bit see-through */
//   .prev:hover,
//   .next:hover {
//     background-color: rgba(218, 218, 218, 0.5);
//   }
//   /* Hide the images by default */
//   .mySlides {
//     display: none;
//     /* Number text (1/3 etc) */
//     .numbertext {
//       color: #f2f2f2;
//       font-size: 12px;
//       padding: 8px 12px;
//       position: absolute;
//       top: 0;
//       filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2))
//       drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.10))
//       drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15))
//       drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15))
//       drop-shadow(-3px 4px 3px rgba(0, 0, 0, 0.15))
//     }
//   }
//   /* Container for image text */
//   .caption-container {
//     text-align: center;
//     background-color: rgba(210, 210, 210, 0.8);
//     border-radius: 20px;
//     padding: 2px 16px;
//     color: #666;
//   }
//   .row:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
//   /* Six columns side by side */
//   .row{
//     /* Add a transparency effect for thumnbail images */
//     .demo {
//       opacity: 0.6;
//     }
//     .active,
//     .demo:hover {
//       opacity: 1;
//     }
//     .column {
//     float: left;
//     width: 16.66%;
//     }
//   }
// }
.slideshoww{
  margin-bottom: 5em;
  .slides{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
// ----------------------- Digital Section
.mediaContainer{
  position: relative;
  width: 70vw;
  margin: auto;
  .galleries{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    img{
      max-height: 300px;
      max-width: 65vw;
      height: auto;
      margin: 2em;
      transition: ease-in 0.5s;
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2))
      drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.10))
      drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15))
      drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.15))
      drop-shadow(-3px 4px 3px rgba(0, 0, 0, 0.15))
    }
    img:hover{
      transform: scale(1.2);
    }
  }
}
// ----------------------- Personal Section






// ---------------------------------------------- Button and titles
#myBtn {
  z-index: 5;
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15))
  drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25))
  drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1))
  drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05))
  drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
}
.title{
  margin: 0 auto 2em auto;
  color: #666;
  padding-top: 80px;
}
// ---------------------------------------------- Footer
.footline{
  width: calc(100% - 18em);
  margin-top: 5em;
}
footer{
  h2{
    font-weight: 400;
    color: grey;
  }
  .contact{ 
    ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    li a{
      padding: 2em;
      font-family: 'Sanchez', serif;
      -webkit-text-stroke: 2px rgba(105, 105, 105, 0.11);
      color: white;
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15))
      drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1))
      drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05))
      drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
    }
  }
}
// ---------------------------------------------- Responsive
@media (max-width: 890px){
  header{
    width: calc(100% - 5em);
    .head{
      #home{  font-size: 1.7em;}
      nav ul {  font-size: 1em;}
    }
    .intro{
      width: 450px;
      margin-top: 18em;
      h1{  font-size: 4.1em;}
      p{
        width: 400px;
        font-weight: 300;
        font-size: 0.8em;
        margin: 1.1em auto;
      }
    }
  }
  .selection{
    grid-template-columns: 1fr 1fr;
  }
  // #weblogos{
  //   margin: 5em 15% 5em 15%;
  // }
  .slideshoww .slides{
    width: 80vw;
    height: 40vh;
  }
}
@media (max-width: 660px){
  header{
    width: calc(100% - 2em);
    .head{
      #home{  font-size: 1.4em;}
      nav ul {  font-size: 0.8em;}
    }
    .intro{
      width: 250px;
      margin-top: 11em;
      h1{  font-size: 2.2em;}
      p{
        width: 200px;
        font-size: 0.6em;
      }
    }
  }
  .selection a{
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }
}