body{
  background-image: radial-gradient(white 15%, rgb(240, 240, 240) 40%, rgb(170, 170, 170) 100%);
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-attachment:fixed; 
  animation: radialmove 3s ease infinite;
  background-size: 150% 150%;
}
@keyframes radialmove {
  0%{background-position:30% 50%}
  50%{background-position:70% 50%}
  100%{background-position:30% 50%}
}
// ---------------------------------------------- Navigation
header{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  width: calc(100% - 10em);
  .head{
    margin-top: 15px;
    padding: .5em 1em;
    z-index: 20;
    display: flex;  
    justify-content: space-between;
    background-color: rgba(210, 210, 210, 1);
    border-radius: 20px;
    #home{
      margin-left: 1em;
      font-size: 1.9em;
      font-weight: 800;
      font-family: 'Sanchez', serif;
      color: white;
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15))
      drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2))
      drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.25))
      drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 1.5em;
    }
    nav ul {
      list-style-type: none;
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      li a{
        padding: 10px;
        font-family: 'Sanchez', serif;
        -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1);
        color: white;
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15))
        drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25))
        drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1))
        drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05))
        drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
      }
      li a:hover, li a:active{
        -webkit-text-stroke: 0px rgb(136, 114, 114);
      }
    }
  }
  .topline{
    border-top: 1px solid  rgba(0, 0, 0, 0.15);
  }
}
// ---------------------------------------------- Experience
.title{  margin: 5em auto 2em auto;  color: #666;  }
.sicouture{  background-image: url("../img/Sicouturelogos.png");}
.north{  background-image: url("../img/NMClogos.png");}
.comebuy{  background-image: url("../img/ComeBuylogos.png");}
.haus{  background-image: url("../img/Hauslogos.png");}
.ostar{  background-image: url("../img/Ostarlogos.png");}
.wrapper{
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  margin: 0 auto 3em auto;
  width: 600px;
  transition: ease-in-out 0.2s;
  text-align: left;
  .allinone{
    width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 1em;
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    display: flex;
  }
}
.wrapper:hover{
  background-position: 100% 50%;
}
h3, h4, h5, p{  margin: 0;}
h3{
  font-weight: 500;
  margin-bottom: 7px;
  font-size: 1.6em;
  color: rgba(20, 43, 75, 0.55);
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.15))
}
h4{color: rgb(20, 43, 78);font-weight: 500;font-size: 1.2em;  margin-bottom: 2px;}
h5{color: rgb(102, 106, 155);font-weight: 400;font-size: 1.1em ;margin-bottom: 7px;}
p{color: rgb(120, 147, 189);font-weight: 300;font-size: 1em ;margin-bottom: 2px;}
// ---------------------------------------------- Footer
.footline{
  width: calc(100% - 18em);
  margin: 2.5em auto auto auto;
}
footer{
  h2{
    font-weight: 400;
    color: grey;
  }
  .contact{ 
    ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    li a{
      padding: 2em;
      font-family: 'Sanchez', serif;
      -webkit-text-stroke: 2px rgba(105, 105, 105, 0.11);
      color: white;
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15))
      drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1))
      drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.05))
      drop-shadow(-3px 4px 1px rgba(0, 0, 0, 0.15));
      // color: #305ab4;
    }

  }
}
// ---------------------------------------------- Responsive
@media (max-width: 850px){
  header{
    width: calc(100% - 5em);
    .head{
      #home{  font-size: 1.7em;}
      nav ul {  font-size: 1em;}
    }
  }
}
@media (max-width: 600px){
  header{
    width: calc(100% - 2em);
    .head{
      #home{  font-size: 1.4em;}
      nav ul {  font-size: 0.8em;}
    }
  }
}
@media (max-width: 740px){  
  .wrapper{
    background-position: 50% 0%;
    flex-direction: column;
    width: 80vw;
    .space{
      height: 70px;
    }
    .allinone{
      width: 94%;
    }
  }
  .wrapper:hover{
    background-position: 0% 0%;
  }
}